/* General */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.contenedor_pod {
    max-width: 140rem;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #0f172a;
    color: white;
    padding: 0;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

.logo {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.logo img {
    width: 16rem;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.navegacion a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    transition: color 0.3s ease-in-out;
}

.navegacion a:hover {
    color: #10b981;
}

.navegacion ul {
    display: flex;
    gap: 4rem;
}

.navegacion li {
    list-style: none;
}

.btn-mobile-menu {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-nav {
    color: white;
    width: 35px;
    height: 35px;
}

/* Header contenido */
.contenedor-header {
    display: flex;
    flex-wrap: wrap;
    max-width: 140rem;
    margin: 0 auto;
    align-items: center;
    padding: 4rem;
    padding-bottom: 9rem;
}

.contenido-header h1 {
    font-weight: 800;
    font-size: 4.5rem;
}

.contenido-header p {
    padding-right: 8rem;
    color: #d4cecf;
    line-height: 1.7;
}

.botones-header {
    margin-top: 4rem;
}

.botones-header a:first-child,
.botones-header a:last-child {
    padding: 1.3rem 2rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    text-decoration: none;
}


.botones-header a:first-child {
    background-color: #059669;
    color: white;
    margin-right: 2.5rem;
}

.botones-header a:last-child {
    background-color: white;
    color: #404040;
}


.botones-header-proyectos a:first-child,
.botones-header-proyectos a:last-child {
    padding: 1.3rem 2rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

.botones-header-podcast a:first-child,
.botones-header-podcast a:last-child {
    padding: 1.3rem 2rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

.botones-header-articulos a:first-child,
.botones-header-articulos a:last-child {
    padding: 1.3rem 2rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

.contenedor-header img {
    width: 100%;
}

/* Main */
main {
    background-color: #1e293b;
    color: #d4d4d4;
}

.seccion-principal {
    margin: 0 auto;
    max-width: 90rem;
    padding: 8rem 0;
    text-align: center;
}

.seccion-principal h2 {
    font-weight: 700;
    font-size: 2.6rem;
    color: #f5f5f5;
}

.parrafo-titulo {
    margin-bottom: 8rem;
}

.contenedor-articulos {
    display: flex;
    flex-direction: column;
}

.articulo {
    border-bottom: 2px solid #525252;
    padding: 4.8rem 0;
}

.articulo:nth-child(3) {
    border-bottom: none;
    margin-bottom: 2rem;
}

.etiqueta {
    background-color: #334155;
    color: #d4d4d4;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
}

.span-lectura {
    color: #a3a3a3;
    font-size: 1.5rem;
}

.articulo h2 {
    text-align: left;
}

.articulo h2 a {
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

.articulo p {
    text-align: left;
    line-height: 1.6;
    font-size: 1.5rem;
}

.mas-informacion {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.articulo a {
    text-decoration: none;
    color: #10b981;
    font-size: 1.7rem;
    font-weight: 500;
}

/* Botón Ver Todos */
.contenedor-btn {
    display: flex;
    justify-content: center;
}

.btn-ver-todos {
    text-decoration: none;
    color: white;
    background-color: #10b981;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
}

.btn-ver-todos:hover {
    background-color: #10b98190;
}

/* Footer */
footer {
    background-color: #0f172a;
}

.contenedor-footer {
    color: white;
    max-width: 130rem;
    margin: 0 auto;
    display: flex;
    padding: 10rem 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contenedor-footer > div {
    flex: 1; /* Distribuye los elementos de manera uniforme */
    min-width: 20rem; /* Evita que se encojan demasiado */
    margin: 0 1rem; /* Agrega separación lateral */
}

.contenedor-footer ul {
    padding: 0;
}

.contenedor-footer li {
    list-style: none;

    justify-content: space-between;
}

.contenedor-footer a {
    text-decoration: none;
    color: #d4d4d4;
    line-height: 2;
    font-size: 1.5rem;
}

.contenedor-footer a:hover {
    color: white;
}

.contenedor-footer2 {
    background-color: #1e293b;
    color: #a3a3a3;
    padding: 1rem 0;
}

.footer-final {
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
}





